.ProjectInfo {
  display: flex;
  flex-direction: column;
  width: 31.3%;
  max-width: 31.3%;
  margin: 0em 1em 1em 1em;
  background: rgba(138, 120, 255, 0.07);
  border-radius: 3px;
  box-shadow: 0px 1px 5px #231f2073;

  &:nth-child(3n + 2){
  margin: 0em 0em 1em 0em;
  }

  .Project-Info-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .6em;
    background: #44444454;
    box-shadow: 0px 1px 1px 0px #00000030;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    h3 {
      margin: 0;
      color: #ffffff5e;
      font-weight: 400;
      font-size: 1.2em;
      padding-left: .4em;
    }

    .DeleteBtn {
      border-top-right-radius: 3px;
      border: none;
      background: #f188056b;
      outline: none;
      line-height: 1.8em;
      padding: .3em .6em;
      cursor: pointer;
      transition: all .5s ease;
      opacity: 1;

      &:hover {
        opacity: .5;
      }

      i {
        color: #ffffff9c;
        font-weight: 100;
        font-size: 1.2em;
      }
    }

  }

  p {
    margin: 0;
    margin-bottom: .6em;
    margin-left: .6em;
    font-family: $fontRobotoCond;
    color: #ffffff29;
    font-weight: 100;
  }

}
