.Projects {
  display: flex;
  flex-direction: column;
  background: #0e2c3e;

  .Create-Project-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #21222D;
    padding: .5em 1em;
    box-shadow: 0px 2px 2px 0px #231f20;

    h2 {
      margin: 0;
      font-family: $fontRobotoCond;
      color: #ffffff29;
      font-weight: 100;
      font-size: 1.8em;
    }

    .Create-Info {
      display: flex;
    }

    form {
      display: flex;

      input {
        border: none;
        position: relative;
        z-index: 9;
        right: -.5em;
        outline: none;
        padding: .5em 1em;
        font-size: .8em;
        color: #231f20;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: #f18805 solid 3px;
        font-family: $fontRobotoCond;
      }

      button {
        font-family: $fontRobotoCond;
        border: none;
        background: #F18805;
        outline: none;
        color: #fff;
        font-size: .9em;
        font-weight: bold;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-transform: uppercase;
        z-index: 10;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
          background: #ff9d24;
        }
      }
    }

  }

  .Current-Projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
