.Color {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: $break-large) {
    width: 100%;
    height: 20%;
    justify-content: center;
    flex-direction: row;
  }

  .LockBtn {
    margin: 0;

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      img {
        width: 100%;
        max-width: 50px;
        opacity: 0.6;
      }
    }
  }

  .ColorCode {
    margin: 0;
    h3 {
      color: #231f20;
      opacity: .6;
      text-transform: uppercase;
      font-size: 2em;
      font-family: $fontRoboto;
      letter-spacing: .01em;
    }
  }

}
