.ProjectDisplay {
  display: flex;
  align-items: center;
  height: 7%;
  background: #24262f;
  justify-content: center;

  .ProjectBtn {
    background: #21222b;
    height: 100%;
    color: #fff;
    letter-spacing: .05em;
    width: 100%;
    font-size: 1.5em;
    padding: 0;
    line-height: 2;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    transition: all .5s ease;

    .UpBtn {
      padding-left: .5em;
    }

  }

  .ProjectDisplay-Content {
    display: block;
  }

}
