@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto+Condensed|Roboto:300,400');

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoCond: 'Roboto Condensed', sans-serif;
$fontOswald: 'Oswald', sans-serif;

@import './containers/App/App';
@import './containers/PaletteDisplay/PaletteDisplay';

@import './components/Loading/Loading';
@import './components/Header/Header';


* {
  box-sizing: border-box;
}

html {
  background-image: url('./media/bg.jpg');
  background-size: cover;
  height: 100%;
  background-repeat: round;
  width: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
