@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto+Condensed|Roboto:300,400');

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoCond: 'Roboto Condensed', sans-serif;
$fontOswald: 'Oswald', sans-serif;

@import './containers/App/App';
@import './containers/PaletteDisplay/PaletteDisplay';
@import './containers/ProjectDisplay/ProjectDisplay';
@import './containers/Color/Color';
@import './containers/Header/Header';

@import './components/Loading/Loading';


* {
  box-sizing: border-box;
}

html {
  background-image: url('./media/bg.jpg');
  background-size: cover;
  height: 100%;
  background-repeat: round;
  width: 100%;
}

body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontRoboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
